BOT_TOKEN=8815679506:AAFeZl-VZnzgyBJqDgZQkaPam5_ag4lg2i8
ADMIN_IDS=8198796152,987654321
DATABASE_URL=sqlite+aiosqlite:///./hosting.db
# DATABASE_URL=postgresql+asyncpg://user:password@db:5432/hosting
PROJECTS_DIR=/app/projects
BACKUPS_DIR=/app/backups
WEBHOOK_PORT=8080
GITHUB_WEBHOOK_SECRET=your_secret_here